.main{
    width:1000px;
    margin: 0 auto;
}

.left_pane {
    float:left;
    width: 800px;
}

.right_pane {
    float: right;
    width: 180px;
}

.header{
    text-align: right;
}

.header, .header, .expression_area, .message {
    width: 100%;
}

#expression {
    width: 90%;
}

#message {
    color: red;
    font-style: italic;
    margin: 2px;
}

.body {
    height: 500px;
    width: 98%;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 10px;
    overflow: auto;
}

ol {
    padding-left: 20px;
}

.expression_content, .expression_content_selected {
    display: list-item;
    background-color: white;
    border-bottom-style:solid;
    border-color: #A0A0A3;
    border-width: thin;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.expression_content_selected {
    background-color: #FAB6B8;
    -webkit-box-shadow: 2px 2px 2px #888888;
    box-shadow: 2px 2px 2px #888888;
}

.expression_content:hover {
    background-color: #F2F1BF
}

.expression_string {
    float: left;
}

.expression_modifier {
    float: right;
    text-align: center;
    color: white;
    font-style: italic;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.Premise {
    background-color: green;
}

.Assumption {
    background-color: orange;
}

.Rule {
    background-color: blue; 
}

.Discharge {
    background: red;
}

ul#rules_box {
    padding: 0px;
}

ul#rules_box input[type="button"] {
    display: list-item;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    width:100%;
}

#summary {
    font-style: italic;
    color: blue;
}

.pane_heading {
    border-bottom-style:solid;
    border-color: #A0A0A3;
    border-width: thin;
    font-weight: bold;
}

.footer {
    text-align: right;
}

.footer .info {
    float: left;
    color: #858283;
    font-size: small;
}

#add_rule_box {
    position: absolute;
    top: 35%;
    left: 27.5%;
    margin: 0 auto;
    border: solid thin black;   
    padding: 20px;
    padding-right: 10px;
    padding-bottom: 5px;
    -webkit-box-shadow: 3px 3px 3px #888888;
    box-shadow: 3px 3px 3px #888888;
    visibility: hidden;
    background-color: white;
}

.new_input {
    width: 300px;
}

.note {
    font-size: small;
    color: #858283;
    padding: 0px;
    margin: 0px;
}

.right {
    text-align: right;
}